<% content_for(:title, "Thanks for your RSVP") %>
<!-- BODY-->
<body data-spy="scroll" data-target=".scroller-spy" data-twttr-rendered="true">
<!--START MAIN-WRAPPER--> 
<div class="main-wrapper">
  <%= partial "page_top_section" %>
  <!-- MAIN CONTENT CONTAINER -->
  <div class="container">
    <!-- START MARKETING DIV-->
    <div class="marketing">

      <!-- PITCHSTERS SECTION-->
      <section id="about-section">
        <!-- OUR PITCHSTERS-->
        <div class="row-fluid">
          <hr class="half">
          <h2 class="center standart-h2title "> <span class="large-text">Thanks for your RSVP!</span></span>
        </h2>
        <hr class="half">
      </div>
      <div class="row">
        <div class="span6 textleft">
          <h4>PitchBreakfast</h4>
          <p>We can save your place, but show up early to get your muffin or pastry!
          PitchBreakfast is now routinely standing-room only.</p>
          <!-- PARAGRAPH -->
          <p>
          <strong>
            <span class="main-color">Next event:</span>
            <%= next_event_date.strftime("%b %d, %Y") %>
            8-9:30AM in the Garage at Packard Place.
          </strong>
          </p>


        <p>See you there!</p>

      </div>
      <div class="span6 textleft">
          <h4>Heard of First Pitch?</h4>
<<<<<<< HEAD
          <p>Our new event is spinning off in December.  
=======
          <p>Our next event is spinning off in December.  
>>>>>>> 7012b993ecab822d179548913c6e70da601a6fff
          Attendance is limited.  <a href="http://www.formstack.com/forms/itsbspoke-firstpitch_rsvp">RSVP today</a>
          </p>
          <!-- PARAGRAPH -->
          <p>
          <strong>
            <span class="main-color">Next event:</span>
            <%= (next_event_date - 7).strftime("%b %d, %Y") %>
            6PM at the @809.
          </strong>
          </p>

      </div>

    </div>
  </div>
</div>
</div>
      </section>



    </div>
    <!-- END MAIN WRAPPER-->
    <%= partial "footer" %>
  </div>
</div>

<%= partial "javascripts" %>

</body>
