<% content_for(:title, "Thanks for your RSVP") %>
<!-- BODY-->
<body data-spy="scroll" data-target=".scroller-spy" data-twttr-rendered="true">
<!--START MAIN-WRAPPER--> 
<div class="main-wrapper">
  <%= partial "page_top_section" %>
  <!-- MAIN CONTENT CONTAINER -->
  <div class="container">
    <!-- START MARKETING DIV-->
    <div class="marketing">

      <!-- PITCHSTERS SECTION-->
      <section id="about-section">
        <!-- OUR PITCHSTERS-->
        <div class="row-fluid">
          <hr class="half">
          <h2 class="center standart-h2title "> <span class="large-text">Thanks for your RSVP!</span></span>
        </h2>
        <hr class="half">
      </div>
      <div class="row">
        <div class="span6 textleft">
          <h4>PitchBreakfast</h4>
          <p>Our flagship event is always a great time.  <a href="/rsvp.html">RSVP today</a>.</p>
          <!-- PARAGRAPH -->
          <p>
          <strong>
            <span class="main-color">Next event:</span>
            <%= next_event_date.strftime("%b %d, %Y") %>
            8-9:30AM in the Garage at Packard Place.
          </strong>
          </p>


        <p>See you there!</p>

      </div>
      <div class="span6 textleft">
          <h4>First Pitch</h4>
          <p>Thanks for your RSVP for our own First Pitch!
          </p>
          <!-- PARAGRAPH -->
          <p>
          <strong>
            <span class="main-color">Next event:</span>
            <%= (next_event_date - 7).strftime("%b %d, %Y") %>
            6PM at the @809.
          </strong>
          </p>

      </div>

    </div>
  </div>
</div>
</div>
      </section>



    </div>
    <!-- END MAIN WRAPPER-->
    <%= partial "footer" %>
  </div>
</div>

<%= partial "javascripts" %>

</body>
